# DrRacket autosave files
*~
\#*
.\#*

# OS X specific directory information
.DS_Store

# Compiled racket bytecode
compiled

# Libreoffice temp files
.~*

# Excel temp files
~$*

# The rest result
test/content.xml
